---
title: Twistlock for PCF
owner: Partners
---

## <a id='overview'></a>Overview

The Twistlock Cloud Native Cybersecurity Platform provides full lifecycle security for containerized environments and cloud native apps.
It's purpose-built to deliver security for modern applications by embedding security controls directly into existing workflows.
From pipeline to perimeter, Twistlock enables security teams to scale securely, and DevOps to deploy fearlessly.

Twistlock for PCF lets organizations continuously scan droplets in their blobstores for vulnerabilities.
The Twistlock Intelligence Stream sources vulnerability data from commercial vendors, 30+ upstream projects, and proprietary Twistlock Labs research.
The Twistlock scanner can be integrated directly into your CI pipeline to pass or fail builds based on policy.
Scan report data is available in open formats, including CSV and JSON.
The comprehensive API makes it easy to integrate Twistlock data into larger central dashboards.


## <a id='features'></a>Key Features

Twistlock for PCF lets you:

* Continously scan droplets in your blobstores for vulnerabilities.
* Review and share scan reports across the team (Developers, DevOps, and Security).
* Raise alerts and route them to the right party when the scanner finds issues that violate policy (email, Slack, JIRA, and more).
* Integrate scanning into your CI/CD pipeline with the command line scanner. Pass or fail builds based on policy.
* Assess risk and pinpoint specific vulnerabilities in your environment with the Vulnerability Explorer.
* Retrieve scan report data via the comprehensive API for deep integration with other tools, dashboards, and processes.


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information for Twistlock for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>19.07.358</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>August 27, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>19.07.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.4.x, and v2.5.x</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service version(s)</td>
        <td>v2.4.x, and v2.5.x</td>
    </tr>
    <tr>
       <td>BOSH stemcell version</td>
       <td>Ubuntu Xenial</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All platforms</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Twistlock for PCF has the following requirements:

+ You have a Twistlock license.

+ You have [installed Twistlock Console](https://docs.twistlock.com/docs/latest/install/getting_started.html).
Twistlock Console is delivered as a container image.
You can run it on Pivotal Container Service (PKS) or a stand-alone virtual machine.
For stand-alone virtual machines, use Twistlock Onebox, which lets you quickly install Twistlock components onto any Linux box with Docker Engine.


## <a id="feedback"></a>Feedback

If you have a feature request, bug report, or other questions, email
[Pivotal Cloud Foundry Feedback](mailto:cf-feedback@pivotal.io) or [Twistlock Support](mailto:support@twistlock.com).


## <a id="feedback"></a>Troubleshooting

For help and troubleshooting, contact [Twistlock Support](mailto:support@twistlock.com).
