---
title: Prisma Cloud for VMware Tanzu
owner: Partners
---

## <a id='overview'></a>Overview

Prisma Cloud is a comprehensive cloud native security platform providing full lifecycle security for containerized environments and cloud native apps.
It’s purpose-built to deliver security for modern applications by embedding security controls directly into existing workflows.
Throughout the build, deploy, and run phases of the development lifecycle, Prisma Cloud enables security teams to scale securely, and DevOps to deploy fearlessly.

Prisma Cloud for VMware Tanzu lets organizations continuously scan droplets in their blobstores for vulnerabilities.
The Prisma Cloud Intelligence Stream sources vulnerability data from commercial vendors, 30+ upstream projects, and proprietary research.
The Prisma Cloud scanner can be integrated directly into your CI pipeline to pass or fail builds based on policy.
Scan report data is available in open formats, including CSV and JSON. The comprehensive API makes it easy to integrate Prisma Cloud data into larger central dashboards.


## <a id='features'></a>Key Features

Prisma Cloud for VMware Tanzu lets you:

* Secure your apps at runtime with Prisma Cloud runtime defense.
* Gain visibility into the containers and hosts in your environment, their vulnerabilities and compliance issues.
* Continuously scan droplets in your blobstores for vulnerabilities.
* Continuously scan the images in your registries for vulnerabilities and compliance issues.
* Review and share scan reports across the team (Developers, DevOps, and Security).
* Raise alerts and route them to the right party when the scanner finds issues that violate policy (email, Slack, JIRA, and more).
* Integrate scanning into your CI/CD pipeline with the command line scanner. Pass or fail builds based on policy.
* Assess risk and pinpoint specific vulnerabilities in your environment with the Vulnerability Explorer.
* Retrieve scan report data via the comprehensive API for deep integration with other tools, dashboards, and processes.


## <a id="snapshot"></a>Product Snapshot

The following table provides version and version-support information for Prisma Cloud for VMware Tanzu.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Tile version</td>
        <td>21.08.520</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 25, 2021</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>21.08.0</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.10.x</td>
    </tr>
    <tr>
        <td>Compatible VMware Tanzu Application Service for VMs version(s)</td>
        <td>v2.11.x, v2.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>All platforms</td>
    </tr>
</table>


## <a id="reqs"></a>Requirements

Prisma Cloud for VMware Tanzu TAS has the following requirements:

* You have a Prisma Cloud license.
* For Prisma Cloud Compute Edition, you have installed Prisma Cloud Console.
Prisma Cloud Console is delivered as a container image.
You can run it on Pivotal Container Service (PKS) or a stand-alone virtual machine.
For stand-alone virtual machines, use the Onebox install target, which lets you quickly install Prisma Cloud components onto any Linux box with Docker Engine.
* For Prisma Cloud Enterprise Edition, Palo Alto Networks hosts the Console for you, so there are no prerequisites to install.


## <a id="feedback"></a>Feedback

If you have a feature request, bug report, or other questions, email
[VMware Tanzu Feedback](mailto:cf-feedback@pivotal.io) or go to the [Prisma Cloud LIVE community page](https://live.paloaltonetworks.com/t5/Prisma-Cloud/ct-p/PrismaCloud).


## <a id="feedback"></a>Troubleshooting

For help and troubleshooting, visit the [Prisma Cloud LIVE community page](https://live.paloaltonetworks.com/t5/Prisma-Cloud/ct-p/PrismaCloud).
