---
title: Release Notes for Prisma Cloud for VMware Tanzu
owner: Partners
---

These are release notes for Prisma Cloud for VMware Tanzu.

##<a id="ver"></a>20.12.531

**Release Date:** January 5, 2021

* Update tile to Prisma Cloud Compute's 20.12 major release.

<p class='note'><strong>Note:</strong>Prisma Cloud introduced runtime protection for apps running on VMware Tanzu Application Service in version 20.09.
The 20.09 tile is available for download from Prisma Cloud Compute Console only (Manage > System > Downloads).
It's not available for download from Tanzu Network.
The 20.12 tile is available for download from both locations.</p>

<p class='note'><strong>Note:</strong>If you’re upgrading from 20.04, you must completely remove the 20.04 tile before installing the 20.12 tile.
Version 20.04 and older deployed a single Defender to a single stand-alone VM for blobstore scanning only.
Version 20.09 and newer deploy Defender to every Diego cell to protect your apps at runtime.
Blobstore scanning is still supported with the new deployment architecture.</p>

##<a id="ver"></a>20.04.163

**Release Date:** April 30, 2020

* Update tile to Twistlock's 20.04 major release.

##<a id="ver"></a>19.11.506

**Release Date:** January 22, 2020

* Update tile to Twistlock's 19.11 Update 1 release.

##<a id="ver"></a>19.11.480

**Release Date:** December 9, 2019

* Update tile to Twistlock's 19.11 major release.

##<a id="ver"></a>19.07.363

**Release Date:** September 16, 2019

* Update tile to Twistlock's 19.07 Update 2 release.

##<a id="ver"></a>19.07.358

**Release Date:** August 27, 2019

* Update tile to Twistlock's 19.07 Update 1 release.

##<a id="ver"></a>19.07.353

**Release Date:** July 25, 2019

* Update tile to Twistlock's 19.07 major release.

##<a id="ver"></a>19.03.321

**Release Date:** May 14, 2019

* Update tile to Twistlock's 19.03 Update 3 release.

##<a id="ver"></a>19.03.317

**Release Date:** April 29, 2019

* Update tile to Twistlock's 19.03 Update 2 release.

##<a id="ver"></a>19.03.311

**Release Date:** April 10, 2019

* Update tile to Twistlock's 19.03 release.
* Add support for Xenial stemcells.

##<a id="ver"></a>18.11.96

**Release Date:** December 3, 2018

* Initial open beta release of Twistlock for VMware Tanzu.
