---
title: Release Notes for Twistlock for PCF
owner: Partners
---

These are release notes for Twistlock for PCF.

##<a id="ver"></a>18.11

**Release Date:** December 3, 2018

* Initial open beta release of Twistlock for PCF.
