---
title: Using Twistlock for VMware Tanzu
owner: Partners
---

Configure Twistlock to scan your blobstore, then review the scan reports.

##<a id='scanning'></a> Configure Twistlock to Scan a Blobstore

To configure Twistlock to scan a blobstore, do the following:

1. Log in to Twistlock Console.

1. Go to **Defend > Vulnerabilities > VMware Tanzu Blobstore**.

1. Click **Add VMware Tanzu Blobstore settings**.

1. Specify the cloud controller.

1. Specify the droplets to scan.
To scan all droplets, enter a wildcard (*).

1. Specify the maxiumum number of droplets to scan.
To scan all droplets, enter 0.

1. Click **Add**.

    <%= image_tag("configure_blobstore.png", :width => "600") %>

1. Click **Save**.


##<a id='reviewing'></a> Review Scan Reports

To review scan reports for VMware Tanzu blobstore droplets, do the following:

1. Log in to Twistlock Console.

1. Go to **Monitor > Vulnerabilities > VMware Tanzu Blobstore** to see a list of summary reports for each droplet.

    <%= image_tag("scan_reports.png", :width => "600") %>

1. To drill into a specific scan report, click on a row in the table.

    <%= image_tag("detailed_scan_report.png", :width => "600") %>


##<a id='info'></a> More Information

To learn how to set policies, send alerts, and set up scans in the continuous integration pipeline, see the [Twistlock documentation](https://docs.twistlock.com/docs/).
